.msgHeader
	.backButton= link_to "Back", conversations_path, :class => "btn btn-s btn-dark"
	%h3.msgTitle= @conversation.user.username
	
.messagesContainer
	- @messages.each do |message|
		- if message.body 
			- user = User.find(message.user_id)
			- if message.user_id == current_user.id
				.selfSection.msgSection
					.messageSelf.message
						/ %p You:
						%p= message.body
						%p.msgTime= message.message_time
			- else
				.themSection.msgSection
					.messageThem.message	
						/ %p= user.email
						%p= message.body
						%p.msgTime= message.message_time
			

.messageReplyForm
	= form_for [@conversation, @message] do |f| 
		.formItem.formInput
			= f.text_area :body
		= f.text_field :user_id, value: current_user.id, type: "hidden"

		= f.submit "Send", :class => "btn btn-m btn-orange"