- if @over_ten
	= link_to ‘Show Previous’, ‘?m=all’


- @messages.each do |message|
  - if message.body 
  	= user = User.find(message.user_id)
  	.message
    	%p= user.first_name
     	%p= message.message_time
      %p= message.body


= form_for [@conversation, @message] do |f| 
	= f.text_area :body
	= f.text_field :user_id, value: current_user.id, type: "hidden"

	= f.submit "Send"