.noteArtImageSection
	.noteArtImageGallery
		.noteArtImage
			= image_tag @picture.image.url, :id => "canvasImg"
		%canvas.noteCanvas	
	.noteDrawingControls
		%select#selColour
			%option{value: "black", selected: "selected"}= "black"
			%option{value: "blue"}= "blue"
			%option{value: "red"}= "red"
			%option{value: "green"}= "green"
		= submit_tag 'Clear', :class => "btn btn-m btn-orange", :onclick => "javascript:clearArea(); return false;" 

= render 'form'
