<div class="form sixtySection">
  <div class="inner">
    

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="formHeader">
        <h2>Edit Profile</h2>
      </div>
      <%= f.error_notification %>

        <div class="formItem formInput">
          <%= f.input :username, required: true, autofocus: true %>
        </div>
        <div class="formItem formInput">
          <%= f.input :email, required: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>

        <% if resource.provider != "facebook" %>
          <div class="formItem formInput">
            <%= f.input :password, autocomplete: "off", hint: "Leave blank if you don't want to change it", required: false %>
          </div>
          <div class="formItem formInput">
            <%= f.input :password_confirmation, required: false %>
          </div>
          <div class="formItem formInput">
            <%= f.input :current_password, hint: "Enter your current password to confirm your changes", required: true %>
          </div>
        <% end %>



        <div class="formItem">
          <%= f.input :avatar, required: false %>
        </div>
        <div class="formItem">
          <%= f.button :submit, "Update", :class => "btn btn-m btn-light btn-submit" %>
        </div>



    <% end %>




    <div class="formHeader">
      <h2>Facebook Settings</h2>
    </div>
    <div class="editControlSection">
      <% if resource.provider == "facebook" %>
        <%= link_to "Unlink Facebook", authentication_path(resource), method: :delete, :class => "btn btn-m btn-fb" %>
      <% else %>
        <%= link_to "Link Facebook", omniauth_authorize_path(:user, :facebook), :class => "btn btn-m btn-fb" %>
      <% end %>
    </div>  


    <div class="formHeader">
        <h2>Cancel Account</h2>
    </div>
    <div class="editControlSection">
      <%= link_to "Cancel account", registration_path(resource_name), :data => { confirm: 'Cancel Account?',
                                                                                      'confirm-button-text': 'Yes, Cancel',
                                                                                      'cancel-button-text': 'No',
                                                                                      'confirm-button-color': '#ec8c25',
                                                                                      'cancel-button-color': '#151515',
                                                                                      'sweet-alert-type': 'warning'}, method: :delete, :class => "btn btn-m btn-dark" %></p>
    </div>
  </div>
</div>
