.comment
	.commentCurrent
		.commentMain
			.commentMainTop
				- if comment.user != nil
					.commentUserPic
						=image_tag comment.user.avatar.url(:thumb), :class => "commentUserThumb"
					%p
						=link_to comment.user.username, comment.user, :class => "commentUserName"
						commented:
				- else 
					%p [User Deleted]
			.commentMainContent
				%p= comment.comment
			.commentMainControls
				- if user_signed_in?
					- if comment.user != nil
						- if current_user.id == comment.user_id
							=link_to "Delete", [@commentable, comment] , method: :delete, data: {confirm: "Are you sure you want to do this?"}, :class => "btn btn-s btn-dark"
					= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment, :id => @commentable), :class => "btn btn-s btn-orange"
		.commentVoting
			.voteSection	
				.vote
					= link_to like_comment_path(comment), method: :put do
						= image_tag "up.svg", :class => "arrow"
				.voteCount
					- @voteCount = (comment.get_upvotes.size) - (comment.get_downvotes.size)
					%p= @voteCount
				.vote	
					= link_to dislike_comment_path(comment), method: :put do
						= image_tag "down.svg", :class => "arrow"
	.commentReply
		= nested_comments comment.children
