.form
	.inner
		= form_for [@commentable, @comment], remote: true do |f|
			= f.hidden_field :parent_id
			.noticeBox
				- if @comment.errors.any?
					%h2 Errors:
					%ul
						- @comment.errors.full_messages.each do |message|
							%li= message
			.formItem.formInput.commentInput
				= f.text_area :comment
			.formItem.commentSubmitBtn
				= f.submit 'Submit Comment', disabled: true, :class => "commentSubmit btn btn-m btn-light btn-submit btn-disabled"