.form
	.inner
		= simple_form_for @artwork, :url => category_artworks_path, :html => {multipart: true} do |f|
			.formItem
				%h2 New Artwork
			.formItem
				= f.label :title, "Post Title"
				= f.input :title, label: false
			.formItem
				= f.label :description, "Post Description"
				= f.input :description, label: false
			.formItem
				= f.label :tag_list, "Tags (separated by commas)"
				= f.input :tag_list, label: false
			.formItem
				= f.label :category_id, "Art or Design Category"
				= f.select(:category_id, options_for_select(@categories))
			.formItem
				= f.label "Post Image/s"
				= file_field_tag "images[]", type: :file, multiple: true
			.formItem
				= f.label :nsfw, "Does your post contain adult content?"
				= f.check_box :nsfw
			.formItem
				= f.submit