.form.sixtySection
	.inner
		= simple_form_for @artwork, :url => category_artworks_path, :html => {multipart: true} do |f|
			.formHeader
				%h2 New Artwork
				=link_to "Cancel", root_path, :class => "btn btn-m btn-dark"
			.noticeBox
				- if @artwork.errors.any?
					%h2 Errors:
					%ul
						- @artwork.errors.full_messages.each do |message|
							%li= message
			.formItem
				= f.label "Post Image/s"
				= file_field_tag "images[]", type: :file, multiple: true, :class => "fileInput"
			.formItem.formInput
				= f.label :title, "Post Title"
				= f.input :title, label: false
			.formItem.formInput
				= f.label :description, "Post Description"
				= f.input :description, label: false
			.formItem.formInput
				= f.label :tag_list, "Tags (separated by commas)"
				= f.input :tag_list, label: false
			.formItem
				= f.label :category_id, "Art or Design Category"
				= f.select(:category_id, options_for_select(@categories))
			.formItem.labelItem
				%p.formLabel Does your post contain adult content?
				= f.label :nsfw,:class => "checkContainer checkContainerForm" do
					= f.check_box :nsfw
					%span.checkmark
			.formItem
				= f.submit 'Submit Artwork', disabled: true, :class => "btn btn-m btn-light btn-submit imageSubmit btn-disabled"