.artTitleSection
	%h1.threadTitle= @artwork.title
.artImageSection
	= image_tag @artwork.image.url(:medium)
.artDescriptionSection
	%p= @artwork.description


= render partial: "comments/comments", locals: {commentable: @artwork}
= render partial: "comments/form", locals: {commentable: @artwork}

= link_to "Edit", edit_artwork_path(@artwork)
= link_to "Delete", artwork_path(@artwork), method: :delete, data: {confirm: "Are you sure you want to do this?"}
= link_to "Home", root_path

