%h1.subHeader Welcome to Crittr.

.mainLinks
	=	link_to category_artworks_path(1), class: "linkLeft" do
		.linkBox
			%h2 
				Artwork 
				%br/
				Forum
	= link_to category_posts_path(1), class: "linkRight" do
		.linkBox
			%h2 
				Question
				%br/
				Forum

%h1 Current Top Artworks:

.artworkThumbSection
	- @artworks.each do |artwork|
		%div.artworkContainer
			.thumbnail
				- if artwork.pictures.any?
					.thumbToggles
						- i = 1 # counter to assign class names to toggles
						- unless artwork.pictures.size <= 1
							- while (i <= artwork.pictures.size) do
								.tToggle{:id => i.to_s} 
								- i+=1 #add one to counter per loop

					- c = 1 #counter to assign class names to thumbs
					- artwork.pictures.each do |p|
						.thumbImg{class: "hidden thumb-" + c.to_s}
							= image_tag p.image.url
						- c+=1 #add one to counter per loop
							
			.info	
				%h2.title= link_to artwork.title, category_artwork_path(artwork.category_id, artwork.id)
				%p
					Category:
					- if artwork.category_id == nil
						Uncategorized
					- else 
						= Category.find(artwork.category_id).name
				%p 
					Upvotes:
					= artwork.get_upvotes.size
				%p
					Downvotes:
					= artwork.get_downvotes.size
			.extraInfo	
				%p.date
					Posted
					= time_ago_in_words(artwork.created_at)
					ago

%h1 Current top Question Posts


.gallery
	- @posts.each do |post|
		.postContainer
			.postThumbLeft
				.leftUpper.leftSection
					%h2.title= link_to post.title, category_post_path(post.category_id, post.id)
					%p.date
						Published
						= time_ago_in_words(post.created_at)
						ago
				.leftLower.leftSection
					%p 
						Upvotes:
						= post.get_upvotes.size
					%p
						Comment (
						= post.comments.size
						)
					%p
						- if post.answered == true
							%p.answered Answered
						- else
							%p.unanswered Unanswered
					%p
						Category:
						- if post.category_id == nil
							Uncategorized
						- else 
							= Category.find(post.category_id).name
			.postThumbRight
				.profileIcon
					=image_tag post.user.avatar.url(:thumb)


%script{type: "text/javascript"}
	:plain
		$('.thumb-1').addClass('visible');
		$('.thumb-1').removeClass('hidden');

		$('.thumbnail').hover(function() {
			var activeThumb = this;
			$('.tToggle', activeThumb).hover(function() {
				var num = this.id;
				var thumbClass = "thumb-"+num;
				$('.thumbImg', activeThumb).removeClass('visible');
				$('.thumbImg', activeThumb).addClass('hidden');
				$('.'+thumbClass, activeThumb).addClass('visible');
				$('.'+thumbClass, activeThumb).removeClass('hidden');
			});
		});