<div class="form sixtySection signInUp">
	<div class="inner">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="formHeader">
		  	<h2>Sign In</h2>
		  </div>
		  <div class="noticeBox">
		  	<%= render 'layouts/notice' %>
		  </div>
		  <div class="formItem formInput">
		  	<%= f.input :email, required: true, autofocus: true %>
		  </div>
		  <div class="formItem formInput">
		  	<%= f.input :password, required: true %>
		  </div>
		  
		  <div class="formItem">
		  	<%= f.button :submit, "Log in", :class => "btn btn-m btn-light btn-submit" %>
		  </div>

		  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		<% end %>

		<%= render "devise/shared/links" %>

	</div>
</div>