.form
	.inner
		= simple_form_for @post do |f|
			.formItem
				%h2 New Question
			.formItem
				= f.label :title, "Post Title"
				= f.input :title, label: false
			.formItem
				= f.label :content, "Post Content"
				= f.input :content, label: false
			.formItem
				= f.label :tag_list, "Tags (separated by commas)"
				= f.input :tag_list, label: false
			.formItem
				/ = f.label :cat, "Art or Design Category"
				/ = f.input  :cat, :collection => %w[Fine_Art Digital_Painting 3D_Model Concept_Art Drawing Graphic_Design UI_Design Photography], label: false

				= f.select(:category_id, options_for_select(@categories))
			.formItem
				= f.submit

