.form
	.inner
		= simple_form_for @post, :url => category_posts_path do |f|
			.formItem
				%h2 New Question
			.formItem
				= f.label :title, "Post Title"
				= f.input :title, label: false
			.formItem
				= f.label :content, "Post Content"
				= f.input :content, label: false
			.formItem
				= f.label :tag_list, "Tags (separated by commas)"
				= f.input :tag_list, label: false
			.formItem
				= f.label :category_id, "Art or Design Category"
				= f.select(:category_id, options_for_select(@categories))
			.formItem
				= f.label :nsfw, "Does your post contain adult content?"
				= f.check_box :nsfw
			.formItem
				= f.submit

