.form
	.inner
		= simple_form_for @post, :url => category_posts_path do |f|
			.formHeader
				%h2 New Question
				=link_to "Cancel", root_path, :class => "btn btn-m btn-dark"
			.noticeBox
				- if @post.errors.any?
					%h2 Errors:
					%ul
						- @post.errors.full_messages.each do |message|
							%li= message
				= render 'layouts/notice'
			.formItem.formInput
				= f.label :title, "Post Title"
				= f.input :title, label: false
			.formItem.formInput
				= f.label :content, "Post Content"
				= f.input :content, label: false
			.formItem.formInput
				= f.label :tag_list, "Tags (separated by commas)"
				= f.input :tag_list, label: false
			.formItem
				= f.label :category_id, "Art or Design Category"
				= f.select(:category_id, options_for_select(@categories))
			.formItem
				= f.label :nsfw, "Does your post contain adult content?"
				= f.check_box :nsfw
			.formItem
				= f.submit 'Submit Post', :class => "btn btn-m btn-light btn-submit"
			
	

