.mainBody
	= render partial: 'layouts/sidebar', locals: { section: 2 } # 2 for posts
	.gallery
		.galleryTopbar
			%h1.forumTitle Questions Forum
			%p= @category.name
				
			- if user_signed_in?
				= link_to "Submit Question", new_category_post_path

			= search_form_for [@category, @search], :class => "searchBar" do |f|
				= f.search_field :title_cont 
				= f.submit		

		- @posts.each do |post|
			.postContainer
				.postThumbLeft
					.leftUpper.leftSection
						%h2.title= link_to post.title, post
						%p.date
							Published
							= time_ago_in_words(post.created_at)
							ago
					.leftLower.leftSection
						%p 
							Upvotes:
							= post.get_upvotes.size
						/ %p
						/ 	Comment (
						/ 	= post.comments.size
						/ 	)
						%p
							Tags: 
							= raw post.tag_list.map { |t| link_to t, category_post_tag_path(post.category_id, t)}.join(', ')
						%p
							- if post.answered == true
								%p.answered Answered
							- else
								%p.unanswered Unanswered
						%p
							Category:
							- if post.category_id == nil
								Uncategorized
							- else 
								= Category.find(post.category_id).name
				.postThumbRight
					.profileIcon
						=image_tag post.user.avatar.url(:thumb)