.mainBody
	= render "layouts/sidebar"
	.gallery
		%h1.forumTitle Questions Forum

		#buttons
			- if user_signed_in?
				= link_to "New Post", new_post_path

		= search_form_for @search do |f|
			= f.search_field :title_cont 
			= f.submit

		- @posts.each do |post|
			%div.postContainer
				%h2.title= link_to post.title, post
				%p.date
					Published
					= time_ago_in_words(post.created_at)
					ago by
					= post.user.email
				%p
					Category: 
					= post.cat	
				%p 
					Upvotes:
					= post.get_upvotes.size
				%p
					Downvotes:
					= post.get_downvotes.size
				%p
					- if post.answered == true
						%p.answered Answered
					- else
						%p.unanswered Unanswered



