.backSection.sixtySection
	- @cat = Category.find(@post.category_id).name
	= link_to "Back to " + @cat, category_posts_path(@post.category_id), :class => "btn btn-s btn-dark"
.titleSection.sixtySection
	%h1.threadTitle= @post.title
.questionSection.sixtySection
	%p= @post.content

.descriptionSection.sixtySection
	.descInfo.descSection
		%p
			- if @post.category_id == nil
				Uncategorized
			- else 
				=link_to @cat, category_posts_path(@post.category_id), :class => "catLink"
		%p
			Tags: 
			= raw @post.tag_list.map { |t| link_to t, category_post_tag_path(@post.category_id, t), :class => "tagLink"}.join(', ')
		- if @post.completed == true
			%p.answered Answered
		- else
			%p.unanswered Unanswered
		- if @post.nsfw == true
			%p.nsfw NSFW
	.descTop
		.descUser.descSection
			- if @post.user != nil
				.userThumb
					=image_tag @post.user.avatar.url(:thumb), :class => "artUserThumb"
					=link_to @post.user.username, @post.user, :class => "artUserName"
			- else
				%p [User Deleted]
		.descVoting.descSection
			.voteSection.postVoteSection	
				.vote
					= link_to like_post_path(@post), method: :put, remote: true do
						- if user_signed_in?
							- if current_user.voted_up_on? @post
								.triangle.arrow.voted
							-else
								.triangle.arrow
				.voteCount
					%p.postVotes= @voteCount = (@post.get_upvotes.size) - (@post.get_downvotes.size)
				.vote
					= link_to dislike_post_path(@post), method: :put, remote: true do
						- if user_signed_in?
							- if current_user.voted_down_on? @post
								.triangle.triDown.arrow.voted
							- else
								.triangle.triDown.arrow
	.descDate.descSection
		%p.date
			Posted
			= time_ago_in_words(@post.created_at)
			ago
		.descSocial
			.sIcon.facebookIcon
				= facebook_button :turbolinks => false, :app_id => '2095083210778655', :static_link => true, :share => true
			.sIcon.twitterIcon
				= twitter_button :turbolinks => false, :title=> 'Crittr - ' + @post.title,  :hashtags => "Crittr", :static_link => true
			.sIcon.redditIcon	
				= reddit_button :turbolinks => false, :title=> 'Crittr - ' + @post.title , :static_link => true

	.descControls.descSection
		- if user_signed_in?
			- if @post.user != nil
				- if current_user.id == @post.user_id
					= link_to "Delete Question", post_path(@post), method: :delete, :data => { confirm: 'Delete Question Post?',
																																										  'confirm-button-text': 'Delete',
																																										  'cancel-button-text': 'Cancel',
																																										  'confirm-button-color': '#ec8c25',
																																										  'cancel-button-color': '#151515',
																																										  'sweet-alert-type': 'warning'}, :class => "btn btn-m btn-dark"
					- if @post.completed != true
						= link_to "Set as Answered", set_completed_post_path(@post), remote: true, method: :put, :data => { confirm: 'Set as Answered?',
																																										  'confirm-button-text': 'Yes',
																																										  'cancel-button-text': 'No',
																																										  'confirm-button-color': '#ec8c25',
																																										  'cancel-button-color': '#151515',
																																										  text: 'If your question has been answered, select yes',
																																										  'sweet-alert-type': 'info'}, :class => "btn btn-m btn-orange"



.commentToggle.sixtySection
	%h3.commentHeader Comments
	=image_tag "toggleUpDark.png", :class => "darkToggleArrow" 
.commentShrinkSection
	.commentContent.sixtySection
		- if @comments.size == 0
			%p.noComments No Comments yet!
		-else	
			= nested_comments @comments
	.commentFormSection.sixtySection
		- if user_signed_in?
			.showForm
				= render partial: "comments/form", locals: {commentable: @post}
		- else
			%p Sign in to comment		