.sidebar
	.sideSection.forumLinks
		= link_to category_artworks_path(1), class: "btn btn-l btn-light" do
			.fLinkButton Artwork Forum
		= link_to category_posts_path(1), class: "btn btn-l btn-light" do
			.fLinkButton Question Forum
	.category.sideSection
		%h2.sidebarHeader Art/Design Category
		- if section == 1 #if artwork forum links go to artwork forum path
			- @categories.each do |cat|
				%p= link_to cat.name, category_artworks_path(cat.id)
		- else # else it links to the posts forum
			- @categories.each do |cat|
				%p= link_to cat.name, category_posts_path(cat.id)



	.sorting.sideSection
		%h2.sidebarHeader Sort by
		= sort_link @search, :created_at, "Date Created"
		= sort_link @search, :title, "By Title"
		= sort_link @search, :cached_votes_up, "By Upvotes"
		= sort_link @search, :cached_votes_down, "By Downvotes"
		= sort_link @search, :answered, "Answered"


	
	
/ = search_form_for @search, :class => "searchBar" do |f|
/ 				= f.condition_fields do |c|
/ 					= c.attribute_fields do |a|
/ 						= a.attribute_select
/ 					= c.value_fields do |v|
/ 						v.text_field :value

/ 				= f.submit