!!!
%html
%head
  %title Crittr
  = csrf_meta_tags 
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
  %link{ "rel" => "stylesheet", href: "https://fonts.googleapis.com/css?family=Heebo:400,700", type: "text/css"}
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 

%body
  %header.topBar
    =image_tag "crittrLogo.png", :class => "topLogo"
    #buttons
      - if user_signed_in?
        = link_to "User Profile", current_user
        = link_to "Sign Out", destroy_user_session_path, method: :delete
      -else
        = link_to "Sign Up", new_user_registration_path
        = link_to "Sign In", new_user_session_path

    .forumButtons
      = link_to "Question Forum", posts_path
      = link_to "Image Forum", artworks_path    
      

  .container    
    %p.notice= notice
    %p.alert= alert

  .postsContainer
    =yield
