!!!
%html
%head
  %title Crittr
  = csrf_meta_tags 
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
  %link{ "rel" => "stylesheet", href: "https://fonts.googleapis.com/css?family=Heebo:400,700", type: "text/css"}
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 

%body
  %header.topBar
    =image_tag "crittrLogo.png", :class => "topLogo"

  %div.sideBar

  .container    
    %p.notice= notice
    %p.alert= alert

  .postsContainer
    =yield
