!!!
%html
%head
  %title Crittr
  = csrf_meta_tags 
  = tag 'meta', {:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}, true
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
  %link{ "rel" => "stylesheet", href: "https://fonts.googleapis.com/css?family=Heebo:400,700", type: "text/css"}
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
  = favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png'

  
%body
  %header.topBar
    = link_to root_path, class: "logo" do 
      =image_tag "crittrLogo.png", :class => "topLogo"      
    .profileButtons
      - if user_signed_in?
        .profileMenuSection
          .dropDown
            .dropControls
              %button.dropBtn &#x25BC
              .profileThumb
                = image_tag current_user.avatar.url(:thumb) 
            .dropDownContent
              = link_to "User Profile", current_user
              = link_to "Messages", conversations_path
              = link_to "Sign Out", destroy_user_session_path, method: :delete  
          
      -else
        = link_to "Sign Up", new_user_registration_path, :class => "topBarLink"
        = link_to "Sign In", new_user_session_path, :class => "topBarLink"



  .postsContainer
    =yield
    
        
  - if @page == 'newNote'
    = javascript_include_tag '/javascripts/createNote.js', type: "text/javascript", 'data-turbolinks-track': 'reload' 

  - if @page == 'artShow'
    = javascript_include_tag '/javascripts/artShow.js', type: "text/javascript", 'data-turbolinks-track': 'reload' 

  - if @page == 'postShow'
    = javascript_include_tag '/javascripts/postShow.js', type: "text/javascript", 'data-turbolinks-track': 'reload' 

  - if @page == 'index'
    = javascript_include_tag '/javascripts/indexPage.js', type: "text/javascript", 'data-turbolinks-track': 'reload' 

  - if @page == 'userHome'
    = javascript_include_tag '/javascripts/userHome.js', type: "text/javascript", 'data-turbolinks-track': 'reload' 

  - if @page == 'artNew'
    = javascript_include_tag '/javascripts/artNew.js', type: "text/javascript", 'data-turbolinks-track': 'reload' 



